select {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
    outline-color: #cae7ff;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-color: white;
    border-radius: 2rem;
}

#logo-second-step {
    display: flex;
    margin: 5rem 0 10rem;
    justify-content: center;
    align-items: center;
}

#cell input:focus{
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
}

@media (min-width: 1100px) {
    button:first-child {
        margin-right: 2rem;
    }    
}