body {
    background: var(--color-background-primary);
}

.container {
    margin: 0;
}

#logo-content {
    display: flex;
    margin: 10rem 0;
    justify-content: center;
    align-items: center;
}

#page-content-account{
    width: 100%;
    height: 100%;
}

#page-content-account main {
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: 3.2rem auto 3.2rem;
    overflow: hidden;
}

#page-content-account main fieldset {
    border: 0;
    padding: 0 2.4rem;
}

.input-block {
    position: relative;
}

.input-block + .input-block {
    margin-top: 1.4rem;
}

.input-block label {
    color: var(--color-text-light);
    font: 700 2rem Archivo;
}

.input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    background: none;
    border: 0;
    border-bottom: 1px solid var(--color-line-in-white);
    color: var(--color-text-light);
    outline: none;
    padding: 0 1rem;
    font: 1.6rem Archivo;
    transition: border .5s
}

.input-block input:focus {
    border-color: rgb(0, 153, 255);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font: 700 2rem Archivo;
    margin-top: 5rem;
}

footer a {
    text-decoration: none;
    color: var(--color-text-light);
}

footer button {
    width: 15rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font: 700 2rem Archivo;
    background: var(--color-button-accept);
    color: var(--color-text-light);
    cursor: pointer;
    margin-bottom: 2rem;
}

footer button:hover {
    background: var(--color-button-accept-hover);
}

@media (min-width: 1100px) {
    footer {
        flex-direction: row;
    }
    
    footer a {
        margin-right: 2rem;
    }

    footer button {
        margin-bottom: 0;
    }
    
}