body {
    background: var(--color-background-primary);
}

.container {
    margin: 0;
}

#logo-content {
    display: flex;
    margin: 10rem 0;
    justify-content: center;
    align-items: center;
}

#page-content-account{
    width: 100%;
    height: 100%;
}

#page-content-account main {
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: 3.2rem auto 3.2rem;
    overflow: hidden;
}

#page-content-account main fieldset {
    border: 0;
    padding: 0 2.4rem;
}

.input-block {
    position: relative;
}

.input-block + .input-block {
    margin-top: 1.4rem;
}

.input-block label {
    color: var(--color-text-light);
    font: 700 2rem Archivo;  
}

.input-block input {
    width: 100%;
    height: 5.6rem;
    background: none;
    border: 0;
    border-bottom: 1px solid var(--color-line-in-white);
    color: var(--color-text-light);
    outline: none;
    padding: 0 1rem;
    font: 1.6rem Archivo;
}

.label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3.5rem;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}

.input{
    margin-top: 1.5rem;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
}

.input-block .input:required:invalid + .label{
    color: red;
}

.input-block .input:focus:required:invalid{
    border-bottom: 2px solid red;
}

.input-block .input:required:invalid + .label:before{
    content: '*';
}

.input-block .input:focus + .label,
.input-block .input:not(:placeholder-shown) + .label{
    margin-top: 0;
    color: #cae7ff;
}

::placeholder {
    color: var(--color-text-search);
}

.input-block input:focus {
    border-color: #cae7ff;
}

.input-block input:focus .input-block label{
    color: black;
}

footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font: 700 2rem Archivo;
    margin-top: 5rem;
}

footer a {
    text-decoration: none;
    color: var(--color-text-light);
}

footer button {
    width: 15rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font: 700 2rem Archivo;
    background: var(--color-button-accept);
    color: var(--color-text-light);
    cursor: pointer;
    margin-bottom: 2rem;
    outline: none;
}

footer button:hover {
    background: var(--color-button-accept-hover);
}

.input-block i,
.input-block i{
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
}

.input-block i img,
.input-block i img{
    width: 2.5rem;
}

@media (min-width: 1100px) {
    footer {
        flex-direction: row;
    }
    
    footer a {
        margin-right: 2rem;
    }

    footer button {
        margin-bottom: 0;
    }
    
}